<h1>Hello World</h1>
<%= link_to "NEwページ", new_word_path%>
<% @words.each do |word| %>
<ul class="lists">
  <li class='list'>
    <%= word.firstword %>
    <%= word.secondword %>
  </li>
</ul>
<% end %>