<h1>Hello World</h1>
<%= link_to "NEwページ", new_word_path%>
<% @words.each do |word| %>
<ul class="lists">
  <div class='list'>
    <%= "検索するものは#{word.firstword} #{word.secondword}どす" %>
  </div>
</ul>
<% end %>
<%= "#{params[:firstword]}と#{params[:secondword]}ですよ"%>